<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/login" (click)="close(sidenav)" *ngIf="!userActive">
          <mat-icon>login</mat-icon>
          <span>Bejelentkezés</span>
      </a>
      <a mat-list-item routerLink="/register" (click)="close(sidenav)" *ngIf="!userActive">
        <mat-icon>app_registration</mat-icon>
        <span>Regisztráció</span>
      </a>
      <a mat-list-item routerLink="/results" (click)="close(sidenav)" *ngIf="userActive">
          <mat-icon>edit_calendar</mat-icon>
          <span>Eredmények</span>
      </a>
      <a mat-list-item routerLink="/favourite" (click)="close(sidenav)" *ngIf="userActive">
          <mat-icon>star_half</mat-icon>
          <span>Kedvencek</span>
      </a>
      <a mat-list-item routerLink="/login" (click)="close(sidenav,true)" *ngIf="userActive">
        <mat-icon>logout</mat-icon>
        <span>Kijelentkezés</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>Basketball Results</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="12px" class="nav-item">
          <li><a *ngIf="!(userActive)" routerLink="login" class="menu-item">Bejelentkezés</a></li>
          <li><a *ngIf="!(userActive)" routerLink="register" class="menu-item">Regisztráció</a></li>
          <li><a *ngIf="(userActive)" routerLink="results" class="menu-item">Eredmények</a></li>
          <li><a *ngIf="(userActive)" routerLink="favourite" class="menu-item">Kedvencek</a></li>
          <li><a *ngIf="(userActive)" routerLink="login" class="menu-item" (click)="logout()">Kijelentkezés</a></li>
        </ul>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
