.menu-item {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgrey;
}

.nav-item{
  list-style: none;
  padding: 0;
  margin: 0;
}

.bodytext{
  text-align: center;
  margin: 50px;
  font-size: 30pt;
  text-decoration: double;
}
