.main_component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
  font-size: 25px;
}

form{
  display: inline-grid;
  align-self: center;
  width: 75%;
  max-width: 500px;
}

button{
  font-size: 25px;
  padding: 15px;
}
